<p id="notice"><%= notice %></p>

<p>
  <strong>Params:</strong>
  <%= @payment_notification.params %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment_notification.status %>
</p>

<p>
  <strong>Tx:</strong>
  <%= @payment_notification.tx_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @payment_notification.user_id %>
</p>

<%= link_to 'Edit', edit_payment_notification_path(@payment_notification) %> |
<%= link_to 'Back', payment_notifications_path %>
